@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


/* Nav Bar Style */
*{
    margin: 0;
    padding: 0;
}

/* Header Section Starts Here */


.banner{
    background-color: rgb(176, 150, 224);
}
.brand{
    font-family: "DM Sans", sans-serif;
    font-size: 25px;
    font-weight: 900;
}
#G{
    color: rgb(246, 255, 0);
    font-weight: bolder;
}
.navbar{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    padding-top: 50px;
}
.nav-item{
    list-style: none;  
}
.nav-links{
    display: flex;
    gap: 60px;
}
.nav-link{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
}
.banner-text{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
}
.banner-title{
    text-align: center;
    font-family: "DM Sans", sans-serif;
    padding-bottom: 25px;
    font-size: 50px;
    font-weight: 800;
}
.banner-description{
    text-align: center;
    font-size: 12px;
    font-family: "DM Sans", sans-serif;
    color: rgb(0, 0, 0);
}
.explore-button-container{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.explore-button{
    width: 140px;
    height: 50px;
    border-radius: 5px;
    background-color: rgb(255, 242, 3);
    font-family: "DM Sans", sans-serif;
    border: none;
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-size: 15px;
    margin-bottom: 50px;
}
.banner-img{
    width: 100%;
}

/* Header Section Ends Here */

/* Main Section Starts Here */

main{
    max-width: 1240px;
    margin: 0 auto;
    margin-top: 50px;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.teams{
    display: flex;
    align-items: center;
    gap: 50px;
}
.feature-title{
    font-family: "DM Sans", sans-serif;
    font-size: 45px;
    font-weight: 900;
}
.title-features{
    color: blueviolet;
}
.feature-description{
    font-family: "DM Sans", sans-serif;
    font-size: 10px;
    font-weight: 300;
    margin-bottom: 50px;
}

/* Enjoy-section starts here */

.enjoy-section{
    margin-top: 100px;
    display: flex;
    gap: 180px;
}
.start{
    font-size: 60px;
    font-weight: bolder;
    color: blueviolet;
    font-family: "DM Sans", sans-serif;
}
.enjoy-title{
    font-size: 25px;
    font-weight: 800;
    margin-top: 60px;
    font-family: "DM Sans", sans-serif;
}
.enjoy-heading{
    font-size: 11px;
    padding-top: 10px;
    padding-bottom: 40px;
    font-weight: lighter;
    font-family: "DM Sans", sans-serif;
}
.enjoy-card{
    width: 400px;
    border: none;
    text-align: justify;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgb(234, 234, 234);
}
.enjoy-card-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.enjoy-card-title{
    font-family: "DM Sans", sans-serif;
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 20px;
    color: rgb(53, 53, 53);
    padding-left: 5px;
}
#architect{
    width: 580px;
    height: 750px;
} 
.experience-text{
    border: none;
    background-color: blueviolet;
    color: white;
    border-radius: 8px;
    width: 200px;
    text-align: center;
    font-size: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    font-family: "DM Sans", sans-serif;
}
.enjoy-card-description{
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    font-family: "DM Sans", sans-serif;
    font-size: 15px;
    font-weight: lighter;
}
/* Some Facts Style starts here */

.section-title{
    margin-top: 100px;
    font-family: "DM Sans", sans-serif;
    font-size: 40px;
}
.section-descrip{
    margin-top: 20px;
    font-family: "DM Sans", sans-serif;
    color: rgb(22, 22, 22);
    font-size: 13px;
    margin-bottom: 40px;
}
.fact-card{
    border: 2px solid blueviolet;
    border-radius: 8px;
    width: 180px;
    height: 180px;
    margin-top: 80px;
}
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 90px;
}
.display-flex{
    display: flex;
}
.fact-card{
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: rgb(24, 24, 24);
    font-family: "DM Sans", sans-serif;
}
.fact-number{
    margin-top: 5px;
    margin-bottom: 5px;
}
/* Main Section Ends Here */

/* Footer Section Starts Here */

.sponsor-section{
    margin-top: 100px;
}
.sponsor-text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}
.sponsor-title{
    font-family: "DM Sans", sans-serif;
    font-size: 35px;
}
.sponsor-description{
    font-family: "DM Sans", sans-serif;
    font-size: 15px;
}
.sponsor-icons-container{
    display: flex;
    margin-top: 50px;
    gap: 90px;
    justify-content: center;
}
/* Copyright */
.copyright-text-container{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 10px;
    color: rgb(48, 48, 48);
    border: none;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: bisque;
}

/* Responsive media Query */
@media screen and (max-width: 576px) {
    .navbar{
        flex-direction: column;
    }
    .nav-links{
        margin-top: 30px;
        gap: 20px;
    }
    .banner-text{
        margin-top: 70px;
    }
    .explore-button{
        margin-bottom: 40px;
    }
    .team-img-container{
        display: flex;
        flex-direction: column;
    }
    .teams{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
    .enjoy-section{
        flex-direction: column;
    }
    .enjoy-card{
        width: 100%;
    }
    #architect{
        width: 100%;
        height: 100%;
    } 
    .experience-text{
        border: none;
        background-color: blueviolet;
        color: white;
        border-radius: 8px;
        width: 200px;
        text-align: center;
        font-size: 30px;
        padding-top: 15px;
        padding-bottom: 15px;
        font-family: "DM Sans", sans-serif;
    }
    .facts-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 0;
    }
    .fact-card{
        margin-left: 99px;
    }
    .sponsor-icons-container{
        display: grid;
        width: 100%;
        justify-content: center;
        justify-items: center;
        gap: 30px;
        grid-template-columns: repeat(1, 1fr);
    }
} 