@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


/* Nav Bar Style */
*{
    margin: 0;
    padding: 0;
}
.banner{
    background-color: rgb(176, 150, 224);
}
.brand{
    font-family: "DM Sans", sans-serif;
    font-size: 25px;
    font-weight: 900;
}
#G{
    color: rgb(246, 255, 0);
    font-weight: bolder;
}
.navbar{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    padding-top: 50px;
}
.nav-item{
    list-style: none;  
}
.nav-links{
    display: flex;
    gap: 60px;
}
.nav-link{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
}
.banner-text{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
}
.banner-title{
    text-align: center;
    font-family: "DM Sans", sans-serif;
    padding-bottom: 25px;
    font-size: 50px;
    font-weight: 800;
}
.banner-description{
    text-align: center;
    font-size: 12px;
    font-family: "DM Sans", sans-serif;
    color: rgb(0, 0, 0);
}
.explore-button-container{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.explore-button{
    width: 140px;
    height: 50px;
    border-radius: 5px;
    background-color: rgb(255, 242, 3);
    font-family: "DM Sans", sans-serif;
    border: none;
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-size: 15px;
    margin-bottom: 50px;
}
.banner-img{
    width: 100%;
}


/* Responsive media Query */
@media screen and (max-width: 576px) {
    .navbar{
        flex-direction: column;
    }
    .nav-links{
        margin-top: 30px;
        gap: 20px;
    }
    .banner-text{
        margin-top: 70px;
    }
    .explore-button{
        margin-bottom: 40px;
    }
} 